form.betingelserPanel {
  padding: 3rem;

  *:not(h1) {
    font-size: 14px;
  }

  h1 {
    margin: 30px 0;
  }

  div.robust-strek {
    padding-bottom: 1px;
    margin-bottom: 30px !important;
  }
  .svar-godta {
    margin: 0 auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 270px;
  }
}