.betingelser-panel {
  padding: 3rem;
  
  .robust-strek {
    padding-bottom: 1px;
    margin-bottom: 30px !important;
  }
  .svar-godta {
    margin: 0 auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 270px;
  }
}