<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <article>
        <div class="panel-mini-belyst-hendelse">
            <h1 class="robust-ikon-soknad-strek" wicket:id="tittel">[]</h1>
            <p>
                <wicket:container wicket:id="vedlegg">[]</wicket:container>
                &nbsp;&nbsp;
                <wicket:container wicket:id="innsendtDato">[]</wicket:container>
            </p>
            <a id="vis" href="#" wicket:id="visKvittering">[[Vis kvittering]]</a>
            <a id="skjul" href="#" wicket:id="skjulKvittering" hidden aria-hidden="true">[[Skjul kvittering]]</a>
        </div>
        <div class="panel-standard-belyst kvittering">
            <hr/>
            <h1 class="vekk" wicket:id="skjultOverskriftKvittering">[[Kvittering]]</h1>
            <p wicket:id="forTekst">[]</p>
            <h1 class="medium" wicket:id="innsendteDokumenterHeader">[]</h1>
            <ul class="sjekk">
                <li wicket:id="innsendteDokumenter">
                    <wicket:container wicket:id="dokument"/>
                </li>
            </ul>
            <h1 class="medium" wicket:id="manglendeDokumenterHeader">[]</h1>
            <ul class="kule">
                <li wicket:id="manglendeDokumenter">
                    <wicket:container wicket:id="dokument"/>
                </li>
            </ul>
            <p wicket:id="etterTekst">[]</p>
        </div>
    </article>
</wicket:panel>
</html>