<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
</head>
<body>

<wicket:panel>
    <article class="panel-standard ">
        <div class="kvittering-link-right"><a href="#"><wicket:message key="vis.kvittering"/></a></div>
        <header>
            <h1 wicket:id="tittel">[]</h1>
            <div class="status">
                <span wicket:id="vedlegg" >[]</span>&nbsp;&nbsp;<span wicket:id="innsendtDato">[]</span>
            </div>
        </header>
        <section class="kvittering">
            <hr/>
            <p class="ingress" wicket:id="forTekst">[]</p>
            <h2 wicket:id="innsendteDokumenterHeader">[]</h2>
            <ul wicket:id="innsendteDokumenter" class="innsendt">
                <li wicket:id="dokument">[]</li>
            </ul>
            <h2 wicket:id="manglendeDokumenterHeader">[]</h2>
            <ul wicket:id="manglendeDokumenter" class="ikke-innsendt">
                <li wicket:id="dokument">[]</li>
            </ul>
            <p wicket:id="etterTekst" class="ingress">[]</p>
        </section>
    </article>
</wicket:panel>
</body>
</html>