@containerWidth: 650px;
@morkeBlaa: #0067c5;
@navRodt: #c30000;

.tema-panel {
  padding: 2em;
  overflow: hidden;
  background-color: white;
  max-width: @containerWidth;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }
  hr {
    border: none;
  }
  .robust-strek {
    background-color: transparent;
    margin-top: 0;
  }
  form {
    margin: 0 auto;
    .temavelger {
      width: 60%;
      margin: 0 auto;
    }
    hr {
      margin: 2em auto;
      width: 100%;
      height: 1px;
      border-style: none;
      background-color: #ddd;
    }
    .fortsett {
      margin-top: 1em;
      text-align: center;
    }
    .avbryt {
      text-align: center;
    }
  }
}

.send-panel {
  overflow: hidden;
  max-width: @containerWidth;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  form {
    width: 100%;
    text-align: center;
    h2 {
      font-weight: 600;
      margin: 0;
    }
    hr {
      border-style: none;
    }
    .tema-bar {
      label {
        display: inline-block;
        margin-bottom: 1em;
        padding: 0.2em 1em;
        background-color: grey;
        color: white;
      }
    }
    .tekstfelt {
      text-align: center;
      textarea {
        resize: none;
        overflow: hidden;
        display: block;
        width: 100%;
        margin-bottom: 1em;
      }
      div {
        margin-bottom: 1em;
      }
    }
    div {
      margin-bottom: 1em;
      #antall-tegn {
        font-weight: bold;
        &.overskrider {
          color: @navRodt;
        }
      }
      #antall-tegn-tekst {
        text-transform: uppercase;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 1em;
  font-weight: 600;
}

ul.feedbackPanel {
  text-align: center;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0;
  list-style-type: none;
  color: @white;
  background-color: @navRodt;
  font: 1.43rem Modus, "Helvetica Neue", Helvetica, Arial, sans-serif;
  li:before {
    content: "* ";
  }
}

.avbryt {
  margin-top: 1em;
  a {
    color: @morkeBlaa;
    text-decoration: none;
    font-size: 1.25em;
  }
  &:hover {
    text-decoration: underline;
  }
}

.bekreftelse-panel {
  padding: 3em;
  overflow: hidden;
  text-align: center;
}