.idea
*.iml
*.ipr
*.iws

*.log

target
web/node_modules
**/webapp/css/**/*
**/webapp/img/**/*
**/webapp/js/**/*
**/webapp/*.html
**/npm-debug.log

npm-debug.log

.classpath
.project
.settings

**/**/node_modules