<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="MAIN_APPLICATION" value="minehenvendelser" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] - [%file:%line] - %m%n</pattern>
        </encoder>
    </appender>


    <logger name="org.eclipse" level="WARN" />
    <logger name="no.nav.modig" level="WARN" />
    <logger name="no.nav.sbl" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.apache.wicket" level="WARN" />
    <logger name="org.apache.cxf.interceptor" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>