<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <property name="MAIN_APPLICATION" value="minehenvendelser" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>HEI %date %level [%thread] - [%file:%line] - %m%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.apache.cxf.services" level="DEBUG" />-->
    <!--<logger name="org.apache.cxf" level="INFO" additivity="false" />-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>