.minehenvendelser .tooltiplink {
    background: url('../img/hjelp.png') no-repeat;
}

.minehenvendelser .tooltiplink:hover {
    background: url('../img/hjelp_hover.png') no-repeat;
}

.minehenvendelser .sjekk li {
    background: url('../img/hake.png') no-repeat;
}

.minehenvendelser .kule li {
    background: url('../img/7x7_sirkel_svart.png') no-repeat left center;
}