.minehenvendelser .tooltiplink {
    content: '?';
    font-size: 1.2rem;
    color: white;
    background: url(../img/sirkel-blaa.png) no-repeat;
    background-size: 39px;
    padding: 12px 15px;
    margin-left: 14px;
}

.minehenvendelser [class*='innsendt'] {
    list-style: none;
}
.minehenvendelser [class*='innsendt'] li:before {
    content: '✔';
    padding-right: 5px;
    color: green;
}

.minehenvendelser .ikke-innsendt li:before{
    color: red;
}

.minehenvendelser .kvittering {
    display: none;
    border-top: none;
}


/* midlertidig fiks -  start*/
.minehenvendelser [class*="panel-mini"]:last-child {
    margin-right: 2.4% !important;
}

.minehenvendelser .overskrift {
    display: inline;
}

/* midlertidig fiks - slutt*/
