.minehenvendelser .tooltiplink {
    background: url('../img/hjelp.svg') no-repeat;
    width: 32px;
    height: 32px;
    float: right;
}

.minehenvendelser .tooltiplink:hover {
    background: url('../img/hjelp_hover.svg') no-repeat;
}

.tooltip {
    font-size: 1rem;
}

.camidt {
    margin-left: 780px;
}

.minehenvendelser .uten-ramme {
    border: none;
}

.minehenvendelser .kvittering {
    display: none;
    padding-top: 0;
    padding-bottom: 4%;
}

.minehenvendelser .kvittering hr {
    border: 0;
    background-color: #ddd;
    height: 1px;
    margin-top: 0;
    margin-bottom: 5%;
}

.minehenvendelser .kvittering .medium {
    padding-top: 16px;
}

.minehenvendelser .kvittering ul:last-of-type {
    padding-bottom: 1px;
}

.minehenvendelser [class*="-lang"] {
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.21rem;
    line-height: 1.4rem;
}

.minehenvendelser [class*="-lang"]:first-letter {
    text-transform: capitalize;
}

/* Overstyring av felles styling - start */

.minehenvendelser [class*="panel-"] {
    margin: 0;
}
.minehenvendelser [class*="-hendelse"] p {
    margin-bottom: 10px;
}
.minehenvendelser [class*="-hendelse"] h1 {
    padding-left: 35px;
    padding-right: 35px;
}

.minehenvendelser .netto {
    padding-bottom: 10px !important;
}

.minehenvendelser .overskrift {
    display: inline;
}

.minehenvendelser .rad-overskrift {
    margin-top: 60px;
    margin-bottom: 50px;
}

.minehenvendelser .rad-overskrift .panel-mini {
    border: none;
    padding: 0;
}

/* Overstyring av felles styling - slutt */

/* potensiell felles -  start*/

.minehenvendelser .sjekk {
    list-style: none;
    padding-left: 0;
}

.minehenvendelser .sjekk li {
    background: url('../img/hake.svg') no-repeat;
    padding-left: 20px;
    margin-bottom: 10px;
}

.minehenvendelser .kule {
    list-style: none;
    padding-left: 0;
}

.minehenvendelser .kule li {
    background: url('../img/sirkel-svart.png') no-repeat left center;
    background-size: 0.45rem;
    padding-left: 20px;
    margin-bottom: 10px;
}

[class*="strek-ikon-under-arbeid"], [class*="ikon-under-arbeid-strek"] {
    background-image: url(../img/under-dark.png), url(../img/under_arbeid.svg);
    background-position: bottom center, center 0;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
}



/* potensiell felles -  slutt*/
