.traad-liste {
    margin-bottom: 3rem;
    text-align: left;

    .tema-avsnitt {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .panel {
        &.dokument {
            background-image: url("@{imgDir}/midlertidig/file-new.svg"), url("@{imgDir}/midlertidig/arrow-next.svg");
            &:hover {
                background-image: url("@{imgDir}/midlertidig/file-new_hover.svg"), url("@{imgDir}/midlertidig/arrow-next_hover.svg");
            }
        }
        &.oppgave {
            background-image: url("@{imgDir}/midlertidig/first-aid-plaster.svg"), url("@{imgDir}/midlertidig/arrow-next.svg");
            &:hover {
                background-image: url("@{imgDir}/midlertidig/first-aid-plaster_hover.svg"), url("@{imgDir}/midlertidig/arrow-next_hover.svg");
            }
        }
        &.dialog {
            background-image: url("@{imgDir}/midlertidig/bubble-chat.svg"), url("@{imgDir}/midlertidig/arrow-next.svg");
            &.flere-meldinger {
                background-image: url("@{imgDir}/midlertidig/chat-double-bubble.svg"), url("@{imgDir}/midlertidig/arrow-next.svg");
                .antall-flere {
                    position: absolute;
                    left: 5rem;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                &:hover {
                    background-image: url("@{imgDir}/midlertidig/chat-double-bubble_hover.svg"), url("@{imgDir}/midlertidig/arrow-next.svg");
                    .antall-flere {
                        position: absolute;
                        left: 5rem;
                        font-size: 0.8rem;
                        font-weight: 600;
                        color: @color-link;
                    }
                }
            }
            &.uleste-meldinger.flere-meldinger {
                .antall-flere {
                    left: 5.4rem;
                }
                &:hover .antall-flere {
                    left: 5.4rem;
                }
            }
            &:hover {
                background-image: url("@{imgDir}/midlertidig/bubble-chat_hover.svg"), url("@{imgDir}/midlertidig/arrow-next_hover.svg");
            }
        }
    }

    .purring {
        color: @red-nav;
    }

    .panel.uleste-meldinger {
        border-left: 6px solid @color-link;
    }

    @media (max-width: @screen-small) {
        .antall-flere {
            display: none;
        }
    }
}
