@containerWidth: 650px;
@morkeBlaa: #0067c5;
@navRodt: #c30000;
@borderGraa: #cccccc;

.send-panel {
  form {
    text-align: center;
    h3.temagruppe-overskrift {
      font-weight: 600;
      display: inline;
      cursor: pointer;
    }
    .hjelpetekst {
      margin: 20px 0 30px 0;
      padding: 0 1em;
    }
    .charcounter {
      margin-bottom: 1em;
    }
    .send-link {
      margin-top: 40px;
    }
  }
}

h1 {
  text-align: center;
  margin: 1em;
}

.sporsmal-header {
  margin-bottom: 30px;
}

.deloverskrift {
  line-height: 2.1rem;
  font-size: 2.1rem;
  font-weight: normal;
  margin: 30px 0 15px;
}

.send-sporsmal-container {
  max-width: @containerWidth;
  background-color: white;
  text-align: center;
  margin: 40px auto 60px auto;
  padding: 30px 30px 40px;
  overflow: hidden;
  &.bekreftelse-panel {
    margin-bottom: 1rem;
  }
}

.registrert-epost {
  .epostadresse {
    background-color: @backgroundColor;
    max-width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mangler-epost {
  margin-bottom: 1rem;
  .brukerprofil-link {
    display: block;
    margin-top: 10px;
  }
}

.tps-utilgjengelig {
  color: @navRodt;
}

hr.robust-strek {
  border: none;
  background-color: transparent;
  margin-top: 0;
}

hr.skillestrek-sporsmal {
  margin: 40px auto;
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #ddd;
}

ul.feedbackPanel {
  text-align: center;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0;
  list-style-type: none;
  color: @white;
  background-color: @navRodt;
  li:before {
    content: "* ";
  }
}

.betingelsevalgpanel {
  margin-top: 1em;
  label {
    background-position: 1px 3px !important;
    border: 1px dashed transparent;
    margin: 0 !important;
    height: 2rem;
    span {
      display: inline-block;
      width: 18rem;
    }
  }
  .vilkarlenke {
    font-size: 0.85rem;
    text-decoration: underline;
  }
  >input:focus + label {
    border: 1px dashed @morkeBlaa;
  }
}

.betingelsepanel {
  padding: 0 10px 40px;
  p, ul {
    font-size: 14px;
    strong {
      font-family: Modus, Arial, Helvetica, sans-serif;
      font-size: 17px;
    }
  }
  h1 {
    margin: 0 0 15px;
  }
  a {
    text-decoration: underline;
  }
  hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #d1d1d1;
  }
  .robust-strek {
    margin-bottom: 30px !important;
  }
  .svar-godta {
    text-decoration: none;
  }
}
.betingelser {
  a[class^="svar"] {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }
}

.avbryt {
  margin-top: 20px;
  text-align: center;
  a {
    color: @morkeBlaa;
    text-decoration: none;
    font-size: 1.25em;
    font-family: Modus, Arial, Helvetica, sans-serif;
    &:hover {
      text-decoration: underline;
    }
  }
}

.pil-ned {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid @morkeBlaa;
}
.temagruppevelger-wrapper {
  position: relative;
  .temagruppevelger {
    width: 100%;
    min-width: 120px;
    max-width: 365px;
  }
  .ui-front {
    z-index: 100;
  }
  .ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
    .ui-menu-item {
      position: relative;
      margin: 0;
      padding: 0.5em 1em;
      cursor: pointer;
      min-height: 0;
    }
    .ui-state-focus, .ui-state-active {
      background-color: #0067c5;
      color: #fff;
    }
  }
  .ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 5px 8px 0 #ccc;

    ul {
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
  }
  .ui-selectmenu-open {
    display: block;
  }
  .ui-selectmenu-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #cccccc;
    span {
      &.ui-icon {
        position: absolute;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-top-color: #0067c5;
        right: 1em;
        top: 22px;
      }
      &.ui-selectmenu-text {
        text-align: center;
        padding: 0.5em 1em;
        display: block;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.ui-dialog {
  background-color: white;
}
.ui-widget-overlay {
  background-color: black;
  opacity: 0.7;
}
.ui-dialog-titlebar > button[title="Close"] {
  width: 26px;
  height: 26px;
  background-color: white;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTUuMzFweCIgaGVpZ2h0PSIxNS4yMnB4IiB2aWV3Qm94PSIwIDAgMTUuMzEgMTUuMjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE1LjMxIDE1LjIyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIHBvaW50cz0iMTQuNjc5LDIuMjI0IDEyLjkwOSwwLjQ1MyA3LjU5Nyw1Ljc2NSAyLjI4NSwwLjQ1MyAwLjUxNCwyLjIyNCA1LjgyNiw3LjUzNiAwLjUxNCwxMi44NDggMi4yODUsMTQuNjE3IA0KCTcuNTk3LDkuMzA3IDEyLjkwOSwxNC42MTcgMTQuNjc5LDEyLjg0OCA5LjM2Nyw3LjUzNiAiLz4NCjwvc3ZnPg0K") !important;
  border: 1px solid #d1d1d1;
}