@containerWidth: 650px;
@morkeBlaa: #0067c5;
@navRodt: #c30000;
@borderGraa: #cccccc;

.send-panel {
  form {
    text-align: center;
    h3.temagruppe-overskrift {
      font-weight: 600;
      display: inline;
      cursor: pointer;
    }
    .hjelpetekst {
      margin: 20px 0 30px 0;
      padding: 0 1em;
    }

    .temagruppevalg {
      &:not(.select2-container-active) > a {
        border: 1px solid @borderGraa;
      }
      &.select2-container-active > a {
        border: 1px dashed @morkeBlaa;
      }
      //For dropdown se styles for .select2-results
      a {
        height: 30px;
        background: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        span {
          margin-right: 0;
          margin-top: 0.1rem;
        }
        div {
          .pil-ned;
          margin-top: 0.65rem;
          margin-right: 1em;
          background: none;
          border-radius: 0;
          b {
            background: none;
            border: 0;
          }
        }
      }
    }
    .charcounter {
      margin-bottom: 1em;
    }
    .send-link {
      margin-top: 1em;
    }
  }
}

h1 {
  text-align: center;
  margin: 1em;
}

.sporsmal-header {
  margin-bottom: 30px;
}

.meldingikon {
  margin-bottom: 10px;
}

.deloverskrift {
  font-size: 2.1rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.send-sporsmal-container {
  max-width: @containerWidth;
  background-color: white;
  text-align: center;
  margin: 40px auto 60px auto;
  padding: 2em;
  overflow: hidden;
  &.bekreftelse-panel {
    margin-bottom: 1rem;
  }
}

.registrert-epost {
  .epostadresse {
    background-color: @backgroundColor;
    max-width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mangler-epost {
  margin-bottom: 1rem;
  .brukerprofil-link {
    margin-top: 10px;
  }
}

.tps-utilgjengelig {
  color: @navRodt;
}

hr.robust-strek {
  border: none;
  background-color: transparent;
  margin-top: 0;
}

hr.skillestrek-sporsmal {
  margin: 40px auto;
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #ddd;
}

ul.feedbackPanel {
  text-align: center;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0;
  list-style-type: none;
  color: @white;
  background-color: @navRodt;
  li:before {
    content: "* ";
  }
}

.betingelsevalgpanel {
  margin-top: 1em;
  label {
    background-position: 1px 3px !important;
    border: 1px dashed transparent;
    height: 2rem;
    span {
      display: inline-block;
      width: 20rem;
    }
  }
  a {
    font-size: 0.85rem;
  }
  >input:focus + label {
    border: 1px dashed @morkeBlaa;
  }
}

.betingelsepanel {
  padding: 1em;
  p {
    font-size: 1em;
  }
  a {
    &.godta {
      margin-top: 2em;
    }
    display: block;
  }
}

.avbryt {
  margin-top: 1em;
  text-align: center;
  a {
    color: @morkeBlaa;
    text-decoration: none;
    font-size: 1.25em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.pil-ned {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid @morkeBlaa;
}

div.select2-drop-active {
  border: 1px solid #aaa;
}
