@media only screen and (max-width: 440px) {
  .input-fullbredde #validation-messages {
    position: relative;
  }
}

.input-fullbredde {
  height: 12.5rem;
  &.invalid {
    color: #cd0001 !important;
    border: 1px solid #cd0001;
    background-color: #fde6e6;
  }
}