
.tema-dokument {
  color: #7f756c;
}

.ustilet {
  margin: 0;
  padding: 0;
  list-style: none;
}

.traad .panel.dokument {
  background-image: url("/mininnboks/build/img/file-new.svg"), url("/mininnboks/build/img/pil-klikkbart-panel.svg");
}

.traad .panel.dokument:hover {
  background-image: url("/mininnboks/build/img/file-new_hover.svg"), url("/mininnboks/build/img/pil-klikkbart-panel_hover.svg");
}

.traad .panel.dialog {
  background-image: url("/mininnboks/build/img/bubble-chat-text-2.svg"), url("/mininnboks/build/img/pil-klikkbart-panel.svg");
}

.traad .panel.dialog:hover {
  background-image: url("/mininnboks/build/img/bubble-chat-text-2_hover.svg"), url("/mininnboks/build/img/pil-klikkbart-panel_hover.svg");
}

.traad-liste {
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 0 4px 0;
  text-align: left;
}

.avsender-fra-nav {
  color: #c30000;
  font-weight: bold;
}

.avsender-annen {
  text-transform: capitalize;
}

.panel.markert {
  box-shadow: -6px 0 0 -1px #ffbd66;
  &:focus {
    box-shadow: -6px 0 0 1px #ffbd66, 0px 0px 0px 2px #ffbd66
  }
}