@sortbakgrunn : #333;
@graabakgrunn : #f1f1f1;
@rammeborder: #ddd;
@skilleborder: #bbb;
@dodgerblue: #1e90ff;
@maxwidth: 900px;

body {
  font-family: Modus, Arial, Helvetica, sans-serif;
}

#innboks-top {
  overflow: hidden;
  border-bottom: solid 1px @rammeborder;
  background-color: white;
  padding: 0.5em 0;
  .innboks-nav {
    border-left: @rammeborder;
    max-width: @maxwidth;
    margin: 0 auto;
    .tilbake-til-innboks-link {
      float: left;
      display: none;
    }
    .skriv-ny-link {
      float: right;
    }
  }
}

#innboks-container {
  overflow: hidden;
  max-width: @maxwidth;
  margin: 0 auto;
  border-right: solid 1px @rammeborder;
  border-left: solid 1px @rammeborder;
  .tom-innboks {
    &.ingen-meldinger {
      display: none;
    }
  }
}

.footer {
  height: 142px;
}

.tom-innboks {
  margin-top: 200px;
  text-align: center;
}

.nyeste-melding {
  .nyeste-header {
    .status-indikator {
      display: inline-block;
      background-color: #006bc6;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .overskrift {
      display: inline-block;
      font-size: 1.3rem;
    }

    .traadlengde {
      float: right;
      height: 22px;
      width: 26px;
      padding-top: 1px;
      background-image: url("../img/snakkeboble.svg");
      background-repeat: no-repeat;
      color: white;
      text-align: center;
    }
  }
}

#eksterne-lenker {
  background-color: white;
  border-top: solid 1px @rammeborder;
  text-align: center;
  padding: 1em;
  font-weight: 600;
  a {
    font-family: Modus, Arial, Helvetica, sans-serif;
    margin: 1em;
  }
}
