.ulest {
  margin-bottom: 50px;
}

.lest .traad {
  h2, p {
    color: #7f756c;
  }
}

.temagruppenavn {
  color: #7f756c;
}

.ustilet {
  margin: 0;
  padding: 0;
  list-style: none;
}

.traad .panel.dokument {
  background-image: url("/mininnboks/build/img/file-new.svg"), url("/mininnboks/build/img/pil-klikkbart-panel.svg");
}

.traad .panel.dokument:hover {
  background-image: url("/mininnboks/build/img/file-new_hover.svg"), url("/mininnboks/build/img/pil-klikkbart-panel_hover.svg");
}

.traad .panel.dialog {
  background-image: url("/mininnboks/build/img/bubble-chat-text-2.svg"), url("/mininnboks/build/img/pil-klikkbart-panel.svg");
}

.traad .panel.dialog:hover {
  background-image: url("/mininnboks/build/img/bubble-chat-text-2.svg"), url("/mininnboks/build/img/pil-klikkbart-panel_hover.svg");
}

.ulest h1, .lest h1 {
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 4px;
  text-align: left;
}

.avsender-fra-nav {
  color: red;
}

.avsender-annen {
  text-transform: capitalize;
}