.traader-container {
  max-width: 600px;
  margin: 0 auto;
  .traadvisning {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 16px 30px;
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
    h2, h3, p {
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 14px;
    }
    h3 {
      font-weight: bold;
    }
    p {
      word-wrap: break-word;
      height: 40px;
      overflow: hidden;
      a {
        -ms-word-break: break-all;
        word-break: break-all;
      }
    }

    img {
      position: absolute;
      height: 12px;
      &.melding-info {
        top: 54px;
        left: 7px;
      }
      &.antall {
        top: 21px;
        right: 7px;
      }
    }

    &:hover {
      margin-left: 1px;
      margin-bottom: 6px;
      border-left: 1px solid #cec6c6;
      border-bottom: 1px solid #cec6c6;
    }

    &:active {
      background-color: #0264c6;
      h2, h3, p {
        color: white;
      }
    }
  }
}