.innboks-container {
  max-width: 600px;
  margin: 0 auto;
  p {
    line-height: 1.4rem;
  }
}

.traad-container {
  background-color: white;
  padding: 2em 4em;
  .knapper {
    text-align: center;
    margin-bottom: 30px;
    [class*=knapp-] {
      margin: 0 1em 0;
    }
    .info-boks {
      background: url(/mininnboks/img/info-graa.svg) no-repeat 12px;
      border: 1px solid #d1d1d1;
      margin-top: 30px;
      padding: 12px 12px 12px 56px;
      text-align: left;
      p {
        border-left: 1px solid #d1d1d1;
        padding-left: 12px;
        margin: 0;
      }
      a {
        font-size: 0.875rem;
      }
    }
  }
  .besvar-container {
    text-align: center;
    margin-bottom: 30px;
    input[type="button"] {
      display: inline-block;
      margin-top: 30px;
    }
    a {
      display: block;
      margin-top: 1rem;
    }
  }
  .melding-container {
    overflow: hidden;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
    img {
      height: 40px;
      margin-top: 34px;
    }
    .melding {
      width: 85%;
      padding: 1em;
      position: relative;
      border: 1px solid #e5e5dc;
      &:before, &:after {
        position: absolute;
        top: 53px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
      }
      &:after {
        border-width: 13px;
        margin-top: -13px;
      }
      &:before {
        border-width: 14px;
        margin-top: -14px;
      }
    }
    &.fra-bruker {
      img {
        float: right;
      }
      .melding {
        float: left;
        background-color: #e5e5dc;
        &:before, &:after {
          left: 100%;
          border-left-color: #e5e5dc;
        }
      }
    }
    &.fra-nav {
      img {
        float: left;
      }
      .melding {
        float: right;
        &:before, &:after {
          right: 100%;
        }
        &:after {
          border-right-color: #ffffff;
        }
        &:before {
          border-right-color: #e5e5dc;
        }
      }
    }
  }
}

.innboks-container .melding {
  color: #000000;
  h2, h3, p {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  h3 {
    font-weight: bold;
  }
  p {
    word-wrap: break-word;
    margin: 0;
    a {
      -ms-word-break: break-all;
      word-break: break-all;
    }
  }
}

.innboks-container .traadvisning {
  position: relative;
  display: block;
  padding: 16px 30px;
  margin-bottom: 5px;
  background-color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  &.lest {
    h2, h3, p {
      color: #6e6f72
    }
  }

  .melding .fritekst {
    height: 40px;
    overflow: hidden;
  }
  .ikon {
    position: absolute;
    height: 10px;
    &.melding-info {
      top: 58px;
      left: 10px;
      &.lest {
        width: 16px;
        background: url(/mininnboks/img/melding_ny.svg) no-repeat right;
      }
    }
    &.antall-en {
      top: 21px;
      right: 10px;
      width: 10px;
      background: url(/mininnboks/img/melding_ett_innlegg.svg) no-repeat right;
    }
    &.antall-flere {
      top: 21px;
      right: 10px;
      padding-right: 14px;
      line-height: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #6e6f72;
      background: url(/mininnboks/img/melding_flere_innlegg.svg) no-repeat right;
    }
  }

  &:hover {
    border-bottom: 2px solid #b7b1aa;
  }

  &:active, &:focus {
    background-color: #0264c6;
    h2, h3, p {
      color: white;
    }
    .ikon.antall-en {
      background: url(/mininnboks/img/melding_ett_innlegg_hvit.svg) no-repeat right;
    }
    .ikon.antall-flere {
      color: white;
      background: url(/mininnboks/img/melding_flere_innlegg_hvit.svg) no-repeat right;
    }
    .ikon.melding-info.lest {
      background: url(/mininnboks/img/melding_ny_hvit.svg) no-repeat right;
    }
  }
}

.textareamirror, .expandingtextarea {
  padding: 1rem;
  line-height: 1.1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.textareamirror {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.expandingtextarea {
  resize: none;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 140px;
  margin: 0 0 1rem 0;
  &.invalid {
    border: 1px solid #cd0001;
    background-color: #fde6e6;
  }
}

.tegnIgjen.invalid {
  font-weight: 600;
  color: #c20001;
}

@media (max-width: 600px) {
  .traad-container {
    padding-left: 0;
    padding-right: 0;

    .melding-container {
      .melding {
        width: 80%;
      }
      &.fra-bruker img {
        margin-right: 5%;
      }
      &.fra-nav img {
        margin-left: 5%;
      }
    }
  }
}

@media (max-width: 460px) {
  .traad-container .melding-container img {
    height: 23px;
    margin-top: 43px;
  }
}
