.traader-container {
  max-width: 600px;
  margin: 0 auto;
  .traadvisning {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 16px 30px;
    margin-bottom: 5px;
    color: #000000;
    text-decoration: none;
    &.lest {
      h2, h3, p {
        color: #6e6f72
      }
    }
    h2, h3, p {
      font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 14px;
    }
    h3 {
      font-weight: bold;
    }
    p {
      word-wrap: break-word;
      height: 40px;
      overflow: hidden;
      margin: 0;
      a {
        -ms-word-break: break-all;
        word-break: break-all;
      }
    }

    .ikon {
      position: absolute;
      height: 10px;
      &.melding-info {
        top: 55px;
        left: 10px;
      }
      &.antall-to {
        top: 21px;
        right: 10px;
        width: 10px;
        background: url(/mininnboks/img/melding_ett%20innlegg.svg) no-repeat right;
      }
      &.antall-flere {
        top: 21px;
        right: 10px;
        padding-right: 14px;
        line-height: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #6e6f72;
        background: url(/mininnboks/img/melding_flere%20innlegg.svg) no-repeat right;
      }
    }

    &:hover {
      margin-left: 1px;
      margin-bottom: 6px;
      border-left: 1px solid #cec6c6;
      border-bottom: 1px solid #cec6c6;
    }

    &:active {
      background-color: #0264c6;
      h2, h3, p {
        color: white;
      }
    }
  }
}