.mininnboks-omslag .innboks-container .melding {
  color: #000000;
  h3, p, span {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    word-wrap: break-word;
    a {
      -ms-word-break: break-all;
      word-break: break-all;
      font-size: 0.875rem;
    }
  }
  .status {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dato {
    font-style: italic;
    display: inline-block;
  }
  .purring {
    margin-left: 0.5rem;
    color: #0084e0
  }
  .fritekst {
    p:last-of-type {
      margin-bottom: 0;
    }
    a {
      text-decoration: underline;
    }
  }
}