#innboks-top {
  overflow: hidden;
  padding: 1em;
  background-color: white;
  .skriv-ny-link {
    text-transform: uppercase;
    float: right;
    background: dodgerblue;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 1em;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}
h2.liten {
  text-transform: uppercase;
  font-weight: bold;
}

.innboks {
  max-height: 500px;
  border: solid 1px #ddd;
  background: white;
}

.melding {
  padding: 1em;
  position: relative;
  border-bottom: solid 1px #ddd;
}

.meldingliste > .melding {
  border-bottom: solid 1px #ddd;
}

.melding:last-child, .meldingsdetaljer:last-child {
  border-bottom: none;
}

.melding > p {
  color: #333;
  margin: 0;
}

.meldingliste > .melding {

}

.meldingsliste > .melding > P {
  max-width : 500px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;

}

.meldingsliste > .melding.valgt {
  background-color: #5bc0de;
}

.meldingsliste > .melding.valgt * {
  color: white;
}

.meldingsliste > .melding:not(.lest) {
  background-color: darkgrey;
}

.meldingsdetaljer > .melding > P {
  padding: 1em;
  border: 1px solid #ddd;
}

.meldingsdetaljer > .melding .settDato {
  color: #888;
  margin: 0 10em;
  display: block;
  font-style: italic;
  border-top: 1px solid #ddd;
  margin-top: 5px;
  text-align: center;
}

.melding:not(.valgt) {
  cursor: pointer;
}

#innboks-container {
  overflow: hidden;
  height: 600px;
}

.meldingsliste {
  float: left;
  overflow: auto;
  border-right: solid 1px #ddd;
  height: 100%;
}

.meldingsdetaljer {
  display: block;
  height: 100%;
  overflow: auto;
}

.opprettet {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  font-size: 80%;
  font-weight: bold;
}
