@rammeborder: #ddd;
@maxwidth: 640px;

body {
  overflow: scroll;
}

.mininnboks-omslag {
  padding-top: 45px;
  padding-bottom: 45px;

  h1.diger {
    margin-bottom: 40px;
  }
}

.innboks-navigasjon {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 30px;
}

h1 {
  text-align: center;
  margin: 1em;
}

.innboks-container {
  p {
    line-height: 1.4rem;
  }
}

.snurrepipp {
  text-align: center;
  margin-top: 40px;
}

.feilmelding {
  text-align: center;

  h1 {
    font-family: Modus, Arial, Helvetica, sans-serif;
    color: #cbc5c3;
    text-transform: uppercase;
    font-size: 2.375rem;
    font-weight: normal;
    margin: 1em 0;
  }
}

.snurrepipp {
  text-align: center;
  margin-top: 40px;
}

.pagewrapper {
  height: auto;
  min-height: 100%;
  margin-bottom: -196px;
  padding-bottom: 196px;
}

.contrast {
  .traadlistevisning {
    h2, h3, p, .antall-flere {
      color: #ffc40d !important;
    }
  }
}

a.lopendetekst {
  text-decoration: underline;
}

.mininnboks-omslag .innboks-container .melding {
  color: #000000;
  h2, h3, p, span {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    word-wrap: break-word;
    a {
      -ms-word-break: break-all;
      word-break: break-all;
      font-size: 0.875rem;
    }
  }
  .status {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dato {
    font-style: italic;
    display: inline-block;
  }
  .purring {
    margin-left: 0.5rem;
    color: #0084e0
  }
  .fritekst {
    p:last-of-type {
      margin-bottom: 0;
    }
    a {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .innboks-container .traadlistevisning {
    margin-bottom: 1px;
  }
}